# Default ignored files
/.idea/workspace.xml
.idea
/backend/.env.prod
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/frontend/.env.prod
/backend/venv/
/frontend/node_modules/
/venv/
/frontend/.next/
*.DS_Store
/frontend/pages/test.js
/backend/**/migrations/**
/frontend/contexts/DataSearchContext.js
/backend/media/uploads/2020/04/[1-9][0-9]/**
